@model ShowIssueTracker.Models.Item

@{
    ViewBag.Title = "NADA - Show Issue Tracker";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Issue Raised by @Html.DisplayFor(model => model.FullName, new { htmlAttributes = new { @class = "form-control" } }) </h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        @Html.HiddenFor(model => model.FullName)
        @Html.HiddenFor(model => model.Email)
        @Html.HiddenFor(model => model.Issue)
        @Html.HiddenFor(model => model.Role)
        @Html.HiddenFor(model => model.IssueType)
        @Html.HiddenFor(model => model.Description)
        @Html.HiddenFor(model => model.BlobUrl)
        @Html.HiddenFor(model => model.EntryTime)

    </div>

    <div class="margin10">
        <div class="col-md-6">


            <div class="col-md-12" id="top">

                <div style="width:auto;background:#fff" id="divProgress">
                    <div id="progress" style="background: #fff; height: 20px;width:0"></div>
                </div>

                <div class="form-group col-xs-12">

                    <label for="FullName">Full name</label>
                    <input type="text" class="form-control" id="FullName" asp-for="FullName" required disabled>
                </div>
                <div class="form-group col-xs-12">
                    <label for="Email">Email</label>
                    <input type="email" class="form-control" id="Email" asp-for="Email" required disabled>
                </div>


                <div class="form-group col-xs-12">
                    <label for="Issue">Issue Name</label>
                    <input type="text" class="form-control" id="Issue" required asp-for="Issue" disabled>
                </div>

                <div class="form-group col-xs-12">
                    <label> What is your role at this meeting?</label>
                </div>
                <div class="form-group col-xs-12">
                    <input type="radio" name="Role" asp-for="Role" value="I am an Attendee" id="Attendee" disabled />
                    <label for="Attendee">I am an Attendee</label>
                    <input type="radio" name="Role" asp-for="Role" value="I am an Exhibitor" id="Exhibitor" disabled />
                    <label for="Exhibitor">I am an Exhibitor</label>
                    <input type="radio" name="Role" asp-for="Role" value="I am a Speaker or Presenter" id="Speaker" disabled />
                    <label for="Speaker">I am a Speaker or Presenter</label>


                </div>
                <div class="form-group col-xs-12">
                    <label>What kind of issue are you reporting?</label>
                </div>
                <div class="form-group col-xs-12">
                    <input type="radio" disabled name="IssueType" asp-for="IssueType" value="A Registration problem" id="Registration" class="form-control" />
                    <label for="Registration">A Registration problem</label>

                    <input type="radio" disabled name="IssueType" asp-for="IssueType" value="Problem with Chat functionality" id="Chat" />
                    <label for="Chat">Problem with Chat functionality</label>

                    <input type="radio" disabled name="IssueType" asp-for="IssueType" value="Problem with Network Now" id="Network" />
                    <label for="Network">Problem with Network Now</label>

                    <input type="radio" disabled name="IssueType" asp-for="IssueType" value="Violation of Code of Conduct" id="Violation" />
                    <label for="Violation">Violation of Code of Conduct</label>

                    <input type="radio" disabled name="IssueType" asp-for="IssueType" value="Other" id="Other" />
                    <label for="Other">Other</label>


                </div>
                <div class="form-group col-xs-12">
                    <label for="Description">Describe the issue</label>
                    <textarea type="text" disabled class="form-control " id="Description" required asp-for="Description" rows="3"> </textarea>
                </div>



                <div class="form-group col-xs-12">
                    <label for="fUpload">Upload files </label>
                </div>
                <div class="form-group col-xs-12">
                    <p>
                        @*@Html.EditorFor(model => model.BlobUrl, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.DisplayNameFor(model => model.BlobUrl)
                            <br />*@
                        @if (@Model.BlobUrl.Contains(".mov") || @Model.BlobUrl.Contains(".mp4"))
                        {
                            <video width="100%" height="auto" controls src="@Html.DisplayFor(model => model.BlobUrl)" allowfullscreen="1">
                                Your browser does not support the video tag.
                            </video>
                        }




                        @if (@Model.BlobUrl.ToUpper().Contains(".JPG") || @Model.BlobUrl.ToUpper().Contains(".PNG")
                   || @Model.BlobUrl.ToUpper().Contains(".GIF") || @Model.BlobUrl.ToUpper().Contains(".WEBP")
                   || @Model.BlobUrl.ToUpper().Contains(".TIFF") || @Model.BlobUrl.ToUpper().Contains(".PSD")
                    || @Model.BlobUrl.ToUpper().Contains(".RAW") || @Model.BlobUrl.ToUpper().Contains(".BMP")
                     || @Model.BlobUrl.ToUpper().Contains(".HEIF") || @Model.BlobUrl.ToUpper().Contains(".INDD")
                      || @Model.BlobUrl.ToUpper().Contains(".JPEG") || @Model.BlobUrl.ToUpper().Contains(".SVG"))
                        {
                            <img src="@Html.DisplayFor(model => model.BlobUrl)" alt="@Html.DisplayFor(model => model.FullName)" class="img" /><br />
                            <a href="@Html.DisplayFor(model => model.BlobUrl)" class="btn btn-danger btn-lg">Download the uploaded file.</a>
                        }

                        else

                        {
                            <a href="@Html.DisplayFor(model => model.BlobUrl)" class="btn btn-danger btn-lg">Download the uploaded file.</a>
                        }
                    </p>

                </div>



            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group col-xs-12">

                <div class="form-group col-xs-12">
                    <label>Status</label>
                </div>
                <div class="form-group col-xs-12">
                    <input type="radio" name="Status" asp-for="Status" value="New" id="New" required />
                    <label for="New">New</label>
                    <input type="radio" name="Status" asp-for="Status" value="In Progress" id="Progress" required />
                    <label for="Progress">In Progress</label>
                    <input type="radio" name="Status" asp-for="Status" value="Resolved" id="Resolved" required />
                    <label for="Resolved">Resolved</label>
                    <input type="radio" name="Status" asp-for="Status" value="No Action Required" id="NoAction" required />
                    <label for="NoAction">No Action Required</label>
                </div>

            </div>



            @if (Model.AssignedTo == null)
            {
                <div class="form-group col-xs-12">
                    <label for="AssignedTo">Assigned To</label>
                    <select asp-for="AssignedTo" id="AssignedToData">
                        <option value="" selected disabled>Please select a Person</option>
                    </select>

                    <input type="hidden" name="valueINeed" value="1" disabled />
                </div>
            }
            else
            {
                <div class="form-group col-xs-12">
                    <label for="AssignedTo">Assigned To</label>
                    <input type="text" class="form-control " id="Assigned2" required asp-for="AssignedTo" disabled />
                </div>
            }



            <div class="form-group col-xs-12">
                <label for="IssueNotes">Issue Notes</label>
                <textarea type="text" class="form-control " id="IssueNotes"   asp-for="IssueNotes" rows="4"> </textarea>
            </div>


            <div class="form-group col-xs-12">

                <div class="form-group col-xs-12">
                    <label>Priority</label>
                </div>
                <div class="form-group col-xs-12">
                    <input type="radio" name="Priority" asp-for="Priority" value="Low" id="Low" required />
                    <label for="Low">Low</label>
                    <input type="radio" name="Priority" asp-for="Priority" value="Normal" id="Normal" required />
                    <label for="Normal">Normal</label>
                    <input type="radio" name="Priority" asp-for="Priority" value="High" id="High" required />
                    <label for="High">High</label>
                    <input type="radio" name="Priority" asp-for="Priority" value="CRITICAL" id="CRITICAL" required />
                    <label for="CRITICAL">CRITICAL</label>
                </div>

            </div>

            <div class="form-group col-xs-12" style="text-align:center;">
                <input type="submit" class="btn btn-danger btn-lg" id="save" value="Save" />

            </div>
        </div>
    </div>
    @*<script type="text/javascript">

            var uploadField = document.getElementById("fUpload");

            uploadField.onchange = function () {
                if (this.files[0].size > 2000000000) {
                    alert("Uploaded File is grater than 2GB ");
                    this.value = "";
                    return false;
                };
            };
        </script>*@



}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    @{ await Html.RenderPartialAsync("_DatatableStyling");}
    @{ await Html.RenderPartialAsync("_AjaxPartial"); }
    @{ await Html.RenderPartialAsync("_SelectSearchPartial");}
    <script>
        $(document).ready(function () {
            selectSearch('/api/LookupTables/PopulateUsers/', ' #AssignedToData', false);
        });

    </script>
}